*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181d29;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

main{
    display: flex;
}

h2{
    font-size: clamp(.8em, 1em + 3vw, 1.5em);
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

p{
    font-size: clamp(.8em, 1em + 3vw, 1em);
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}

.mini-blocos-horizontal i{
    font-size: clamp(.8em, 1em + 3vw, 4em);
    color: rgba(255, 255, 255, 0.46);
    object-fit: cover;
    right: 0%;
    margin-left: 1rem;
}

ul{
    list-style: none;
    padding: 0%;
}

.align-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-link{
    display: none ;
}


.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    color: white;
}

.navbar-toggler{
    background-color: rgba(255, 255, 255, 0.257);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.567);
    filter: blur(80deg);
    width: 98%;
    border-radius: 0 0 8px 8px;
}

.header{
    background-color: rgba(0, 0, 0, 0.567);
    filter: blur(80deg);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(45deg);
    width: 97.6%;
    height: 7vh;
    border-radius: 0 0 .5rem .5rem;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-right: 2rem;
}



.menu-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;
    gap: 1rem;
    width: 100%;
    height: 88vh;
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.567);
    filter: blur(45deg);
    margin: 1rem;
    border-radius: .5rem;
}

.bg-menu{
    width: 90%;
    height: 65vh;
    background-color: #181d29;
    border-radius: .5rem;
}

.user img{
    width: 60px;
    border-radius: 50%;
    padding: .2rem;
    background-image: linear-gradient(-90deg, #00cf30, #0575E6);
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem 0;
    height: 90px;
    margin: .5rem .5rem 2rem .5rem;
    border-radius: .5rem;
    background-image: linear-gradient(45deg, #282828, #7c7c7c);
}

.menu-vertical a:hover{
    background-image: linear-gradient(-90deg, #00cf30, #0575E6);
    border-radius: 8px;
    width: 100%;
    color: white;
}

.menu-vertical a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
    height: 45px;
}

.change-user{
    width: 180px;
    height: 50px;
    background-color: #181d29;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-user a{
    margin: 0;
}

.grid{
    width: 82%;
    height: 90.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 70vh;
    row-gap: .6rem;
    column-gap: .8rem;
    
}

.mini-blocos-horizontal{
    background-color: rgba(0, 0, 0, 0.567);
    filter: blur(80deg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    margin: 1rem 0 0 0;
    border-radius: .5rem;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 1rem;
}

.bloco-1{
    background-image: linear-gradient(45deg, rgb(84,1,5), rgb(210, 5, 15));
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    height: 100px;
    border-radius: .5rem; 
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.bloco-2{
    margin-left: 1rem;
    background-image: linear-gradient(45deg, rgb(114,114,112), rgb(239, 234, 232));
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    height: 100px;
    border-radius: .5rem;   
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.bloco-3{
    margin-left: 1rem;
    background-image: linear-gradient(45deg, rgb(14, 63, 10), rgb(19, 173, 16));
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    height: 100px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.bloco-4{
    margin-left: 1rem;
    background-image: linear-gradient(45deg, rgb(3,23,84), rgb(19,62,199));
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    height: 100px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.blocos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.567);
    filter: blur(80deg);
    width: 100%;
    min-width: 350px;
    max-width: 650px;
    height: 69vh;
    border-radius: .5rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.blocos-01 img{
    width: 100%;
}

.blocos-02{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    height: 69vh;
    border-radius: .5rem;
    grid-column-start: 3;
    grid-column-end: 5;
}

.big-blocos-01{
    background-color: rgba(0, 0, 0, 0.567);
    filter: blur(80deg);
    height: 35vh;
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-blocos-01 img{
    width: 90%;
    margin-bottom: 2rem;
}

.big-blocos-02{
    background-color: rgba(0, 0, 0, 0.567);
    filter: blur(80deg);
    height: 32vh;
    width: 100%;
    max-width: 600px;
    border-radius: .5rem;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.big-blocos-02 img{
    width: 40%;
}




@media (max-width: 820px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-link{
        display: flex;
    }

    .nav-item a {
        color: white;
    }

    .nav-item a:hover{
        background-image: linear-gradient(-90deg, #00cf30, #0575E6);
        border-radius: 8px;
        width: 100%;
    }

    .align-header{
        width: 100%;
        max-width: 690px;
        justify-content: space-around;
    }

    .header{

        padding: 0 1rem;
        justify-content: space-between;
    }

    .header a{
        display: none;
    }

    .header i{
        display: inherit;
        font-size: 2.5rem;
    }

    .menu-vertical{
        display: none;
    }

    .mini-blocos-horizontal{
        height: 120px;
        width: 100%;
        max-width: 650px;
        padding: 1rem;
    }
    
    .grid{
        width: 87%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20vh 50vh;
        row-gap: .5rem;
        column-gap: .8rem;
        
    }
    
    .blocos{
        width: 100%;
    }

    .blocos-02{
        margin-top: .8rem;
        display: flex;
        flex-direction: column;
        max-width: 650px;
    }

    .big-blocos-01{
        width: 100%;
        max-width: 650px;
    }

    .big-blocos-02{
        width: 100%;
        max-width: 650px;
    }

    .bloco-1, .bloco-2, .bloco-3, .bloco-4{
        width: 100%;
        min-width: 100px;
        max-width: 140px;
        height: 90px;
        padding: 1rem;
    }

    h2{
        font-size: .7rem;
    }
    
    p{
        font-size: .6rem;
    }
    
    i{
        
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.46);
        object-fit: cover;
        right: 0%;
        margin-left: 1rem;
    }
}

@media (max-width: 394px) {

    .navbar{
        width: 93%;
    }

    .nav-link{
        display: flex;
    }

    .nav-item a {
        color: white;
    }

    .nav-item a:hover{
        background-image: linear-gradient(-90deg, #00cf30, #0575E6);
        border-radius: 8px;
        width: 100%;
        color: white;
    }

    .mini-blocos-horizontal{
        height: 60%;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        min-width: 349px;
        max-width: 450px;
        margin-bottom: .5rem;
    }
    
    .bloco-1, .bloco-2, .bloco-3, .bloco-4{
        width: 100%;
        max-width: 280px;
        height: 90px;
        padding: 1rem;
        margin:0;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around;
    }

    .blocos{
        height: 349px;
    }

    h2{
        font-size: 1.8rem;
    }
    
    p{
        font-size: .8rem;
    }
    
    i{
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.46);
        object-fit: cover;
        right: 0%;
        margin-left: 1rem;
    }

    .blocos-02{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 349px;
        margin-bottom: .5rem;
    }

    .big-blocos-01{
        min-width: 349px;
        margin-bottom: .5rem;
    }


}