@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@700&display=swap');




:root{
    --logo-azul: (#1B1464);
    --logo-verde: (#00EA3D);


    --site-Azul: (#0575E6);
    --site-Verde: (#00F260); 

    --Montserrat: 'Montserrat', sans-serif;
    --Open-Sans: 'Open Sans', sans-serif;
    --Poppins: 'Poppins', sans-serif;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
}

.promocional{
    width: 60vw;
    

}

.promo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 55vw;
    height: 80vh;
    background-image: url(../img/img.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    /*background-image: linear-gradient(45deg, #00EA3D, #00F260, #0575E6, #1B1464);*/
}

.promo p{
    font-size: 4rem;
    color: white;
    font-family: var(--Poppins);
}

.logo img{
    width: 200px;
    margin-bottom: 4rem;
}

.card-input{
    color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card-input p{
    color: black;
    font-family: var(--Montserrat);
}

#mail, #senha{
    border: 1px solid rgba(255, 255, 255, 0);
    width: 280px;
    height: 20px;
    padding-left: 1rem;
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
}

#signin{
    color: #00EA3D;
}

a{
    font-family: var(--Montserrat);
    font-weight: 600;
    color: lightslategray;
    text-decoration: none;
}

a:hover{
    color: #00EA3D;
}

p{
    font-size: var(--Montserrat);
    font-weight: 600;
    
}

.check{
   display: flex;
   align-items: center;

}

#check:hover{
    cursor: pointer;
}

.btn{
    font-size: .8rem;
}

.check-text{
    display: flex;
    width: 290px;
    align-items: center;
    justify-content: space-between;
}

.botão input{
    width: 330px;
    height: 40px;
    border: none;
    border-radius: .5rem;
    color: white;
    font-family: var(--Montserrat);
    font-weight: 600;
    background-image: linear-gradient(45deg, #00EA3D, #00F260, #0575E6, #1B1464);
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.138);
    margin-bottom: 2rem;
}


.botão input:hover{
    cursor: pointer;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.138);
}

.sign-in-up{
    display: flex;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
    gap: 1rem;


}

.sign-in-up a:hover{
    color: #00EA3D;
}

.sign-in-up p{
    color: lightslategray;
}


#signup:hover{
    color: #0575E6;
}

.row{
    display: flex;
    align-items: center;
}
.row hr{
    width: 100px;
    height: 1px;

}

.row p{
    margin: 0;
}


.redes img{
    width: 20px;
    height: 20px;
    
}

.telegram{
    background-color: #37aee2;
    width: 250px;
    height: 40px;
    border-radius: .5rem;
    border: none;
    margin-bottom: .5rem;
}

.google{
    width: 120px;
    height: 40px;
    border-radius: .5rem;
    border: none;
    margin-right: .5rem;
}

.facebook{
    width: 120px;
    height: 40px;
    border-radius: .5rem;
    border: none;
}

.facebook:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.138);
}

.telegram:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.138);
}

.google:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.138);
}


@media (max-width: 820px) {
    body{
        max-width: 820px;
        background-image: url(../img/bg-mobile.png);
        background-repeat: no-repeat;
        height: 50;
    }

    .promocional{
        display: none;
    }
}

@media (max-width: 410px){
    body{
        background-image: url(../img/bg-mobile-410px.png);
    }

} 

@media (max-width: 375px){
    body{
        background-image: url(../img/bg-mobile-375px.png);
    }

}

/* From uiverse.io by @fanishah */
.tl-button {
    font-family: inherit;
    background: #2CA0D9;
    color: #FFF;
    padding: 0.35em 0;
    font-size: 17px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: inline-flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.1em;
    padding-left: 2.8em;
    padding-right: 0.9em;
   }

   .tl-button p {
    color: #FFF;
   }
   
   .tl-button .icon {
    background: #fff;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.4em;
    transition: all 0.5s;
   }
   
   .icon svg {
    margin-left: 0.4em;
    transition: all 0.5s;
    color: #2CA0D9;
    width: 1.2rem;
    height: 1.2rem;
   }
   
   .tl-button:hover .icon svg {
    transform: rotate(360deg);
   }
   
   .tl-button:hover .icon {
    width: calc(100% - 0.85rem);
    border-radius: 0.5em;
   }
   .tl-button:hover {
    cursor: pointer;
   }